{% extends "base.html" %} {% block title %}Ver Clientes{% endblock %} {% block
content %}
<h2>Lista de Clientes</h2>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Dirección</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>Fecha Registro</th>
  </tr>
  {% for c in clientes %}
  <tr>
    <td>{{ c.id }}</td>
    <td>{{ c.nombre }}</td>
    <td>{{ c.edad }}</td>
    <td>{{ c.direccion }}</td>
    <td>{{ c.telefono }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.fecha_registro }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
